<img src="/assets/00-basic-terminology.svg" class="illustration" />
<!-- flex container -->
<!-- flex items -->

<div style="border:1px solid black;">un</div>
<div style="border:1px solid black;display:inline-block">deux</div>
<div style="border:1px solid black;display:inline-block">trois</div>
<div style="border:1px solid black;">quatre</div>
<h1>flex1</h1>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: flex-start</li>
</ul>
<div class="flex1">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-between</li>
  <li>align-items: stretch</li>
</ul>
<div class="flex1110">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-between</li>
  <li>align-items: flex-start</li>
</ul>
<div class="flex1111">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-between</li>
  <li>align-items: flex-end</li>
</ul>
<div class="flex1112">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-between</li>
  <li>align-items: center</li>
</ul>
<div class="flex1113">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-between</li>
  <li>align-items: baseline</li>
</ul>
<div class="flex1114">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-between</li>
  <li>align-items: baseline</li>
</ul>
<div class="flex11111">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
  <div>7</div>
  <div>8</div>
  <div>9</div>
  <div>10</div>
  <div>11</div>
  <div>12</div>
</div>

<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: start</li>
</ul>
<div class="flex114">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: end</li>
</ul>
<div class="flex115">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-between</li>
</ul>
<div class="flex111">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-around</li>
</ul>
<div class="flex112">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: nowrap</li>
  <li>justify-content: space-evenly</li>
</ul>
<div class="flex113">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: wrap</li>
  <li>justify-content: flex-end</li>
</ul>
<div class="flex12">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row</li>
  <li>flex-wrap: wrap-reverse</li>
  <li>justify-content: center</li>
</ul>
<div class="flex13">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex11</h1>
<ul>
  <li>display: inline-flex;</li>
  <li>flex-direction: row</li>
</ul>
<div class="flex11">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex2</h1>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: row-reverse</li>
</ul>
<div class="flex2">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex22</h1>
<ul>
  <li>display: inline-flex;</li>
  <li>flex-direction: row-reverse</li>
</ul>
<div class="flex22">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex3</h1>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: column</li>
</ul>
<div class="flex3">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex33</h1>
<ul>
  <li>display: inline-flex;</li>
  <li>flex-direction: column</li>
</ul>
<div class="flex33">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex4</h1>
<ul>
  <li>display: flex;</li>
  <li>flex-direction: column-reverse</li>
</ul>
<div class="flex4">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex44</h1>
<ul>
  <li>display: inline-flex;</li>
  <li>flex-direction: column-reverse</li>
</ul>
<div class="flex44">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
<h1>flex5</h1>
<div class="flex5">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>

<h1>flex6</h1>
<div class="flex6">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div>
